---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: policies.ngrok.k8s.ngrok.com
spec:
  group: ngrok.k8s.ngrok.com
  names:
    kind: Policy
    listKind: PolicyList
    plural: policies
    singular: policy
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Policy is the Schema for the policies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PolicySpec defines the desired state of Policy
            properties:
              direction:
                type: string
              endpoint_rule:
                description: Foo is an example field of Policy. Edit policy_types.go
                  to remove/update
                properties:
                  actions:
                    description: Actions
                    items:
                      properties:
                        config:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type:
                          type: string
                      type: object
                    type: array
                  expressions:
                    description: Expressions
                    items:
                      type: string
                    type: array
                  name:
                    description: Name
                    type: string
                type: object
            type: object
          status:
            description: PolicyStatus defines the observed state of Policy
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
