# permissions for end users to edit ngrokmodulesets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: ngrokmoduleset-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: ngrok-operator
    app.kubernetes.io/part-of: ngrok-operator
    app.kubernetes.io/managed-by: kustomize
  name: ngrokmoduleset-editor-role
rules:
- apiGroups:
  - ingress.k8s.ngrok.com
  resources:
  - ngrokmodulesets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ingress.k8s.ngrok.com
  resources:
  - ngrokmodulesets/status
  verbs:
  - get
