# This file registers ownership for certain parts of the ngrok ingress controller code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @ngrok/ingress-controller
