# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore all files then explicitly whitelist ones we want
*
# Build script (shared with Makefile)
!scripts/build.sh
# Used to inject version build info
!VERSION
# Code
!api/
!cmd/
!hack/
!internal/
!pkg/
!certs/*
!**/*.go
!**/*.mod
!**/*.sum
