apiVersion: v2
name: kubernetes-ingress-controller
description: A Kubernetes ingress controller built using ngrok.
version: 0.15.0
appVersion: 0.12.2
keywords:
  - ngrok
  - networking
  - ingress
  - edge
  - api gateway
home: https://ngrok.com
sources:
  - https://github.com/ngrok/ngrok-operator
icon: https://charts.ngrok.com/assets/ngrok-favicon.svg
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 2.x.x
