apiVersion: v2
name: ngrok-ingress-controller
description: A Kubernetes ingress controller built using ngrok.
version: 0.3.1
appVersion: 0.2.0
keywords:
  - ngrok
  - networking
  - ingress
  - edge
  - api gateway
home: https://ngrok.com
sources:
  - https://github.com/ngrok/ngrok-ingress-controller
icon: https://blog.ngrok.com/_next/image?url=%2Fassets%2Fblog%2Fplaceholder.png&w=1920&q=75
