## @section Common parameters
##

## @param nameOverride String to partially override generated resource names
## @param fullnameOverride String to fully override generated resource names
## @param commonLabels Labels to add to all deployed objects
## @param commonAnnotations Annotations to add to all deployed objects
##
nameOverride: ""
fullnameOverride: ""
commonLabels: {}
commonAnnotations: {}

## @section Controller parameters
##

## @param podAnnotations Used to inject custom annotations directly into
## the ingress pods for things like service mesh integrations.
##
podAnnotations: {}

## @param replicaCount The number of controllers and agents to run.
## A minimum of 2 is recommended in production for HA.
##
replicaCount: 2

## @param image.registry The ngrok ingress controller image registry.
## @param image.repository The ngrok ingress controller image repository.
## @param image.tag The ngrok ingress controller image tag.
## @param image.pullPolicy The ngrok ingress controller image pull policy.
## @param image.pullSecrets An array of imagePullSecrets to be used when pulling the image.
image:
  registry: docker.io
  repository: ngrok/ngrok-ingress-controller
  tag: latest
  pullPolicy: IfNotPresent
  pullSecrets: []

## @param ingressClass.name The name of the ingress class to use.
## @param ingressClass.create Whether to create the ingress class.
## @param ingressClass.default Whether to set the ingress class as default.
ingressClass:
  name: ngrok
  create: true
  default: true

## @param log Agent log destination.
log: stdout
## @param region ngrok region to create tunnels in.
region: us

## @param credentialsSecret.name The name of the K8S secret that contains the
## credentials for the ingress controller.
credentialsSecret:
  name: ngrok-ingress-controller-credentials

## @param apiKey The ngrok API key to use
apiKey: ""
## @param authtoken The ngrok auth token to use
authtoken: ""

## Controller container resource requests and limits
## ref: https://kubernetes.io/docs/user-guide/compute-resources/
## We usually recommend not to specify default resources and to leave this as a conscious
## choice for the user. This also increases chances charts run on environments with little
## resources, such as Minikube. If you do want to specify resources, uncomment the following
## lines, adjust them as necessary, and remove the curly braces after 'resources:'.
## @param resources.limits The resources limits for the container
## @param resources.requests The requested resources for the container
##
resources:
  ## Example:
  ## limits:
  ##    cpu: 100m
  ##    memory: 128Mi
  ##
  limits: {}
  ## Examples:
  ## requests:
  ##    cpu: 100m
  ##    memory: 128Mi
  ##
  requests: {}


## Controller Service Account Settings
## @param serviceAccount.create Specifies whether a ServiceAccount should be created
## @param serviceAccount.name The name of the ServiceAccount to use.
## If not set and create is true, a name is generated using the fullname template
## @param serviceAccount.annotations Additional annotations to add to the ServiceAccount
##
serviceAccount:
  create: true
  name: ""
  annotations: {}
