apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "ngrok-ingress-controller.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller
  name: {{ include "ngrok-ingress-controller.fullname" . }}-manager
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/agent-config: {{ include (print $.Template.BasePath "/agent-config-cm.yaml") . | sha256sum }}
    checksum/controller-role: {{ include (print $.Template.BasePath "/role.yaml") . | sha256sum }}
    checksum/rbac: {{ include (print $.Template.BasePath "/controller-rbac.yaml") . | sha256sum }}
spec:
  replicas: {{.Values.replicaCount}}
  selector:
    matchLabels:
      {{- include "ngrok-ingress-controller.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: controller
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        {{- if .Values.podAnnotations }}
          {{- toYaml .Values.podAnnotations | nindent 8 }}
        {{- end }}
        prometheus.io/path: /metrics
        prometheus.io/port: '8080'
        prometheus.io/scrape: 'true'
      labels:
        {{- include "ngrok-ingress-controller.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: controller
    spec:
      serviceAccountName: {{ template "ngrok-ingress-controller.serviceAccountName" . }}
      volumes:
      - name: scripts
        configMap:
          name: scripts
          defaultMode: 0755
      containers:
      - name: ngrok-ingress-controller
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /manager
        args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8080
        - --election-id={{ include "ngrok-ingress-controller.fullname" . }}-leader
        {{- if .Values.region }}
        - --region={{ .Values.region}}
        {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
        env:
        - name: NGROK_API_KEY
          valueFrom:
            secretKeyRef:
              key: API_KEY
              name: {{ .Values.credentialsSecret.name }}
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      - name: ngrok-cli
        image: ngrok/ngrok:3
        command:
        - ./scripts/gen-agent-config.sh
        envFrom:
        - configMapRef:
            name: {{ include "ngrok-ingress-controller.fullname" . }}-agent-cm
            optional: true
        env:
        - name: NGROK_AUTHTOKEN
          valueFrom:
            secretKeyRef:
              key: AUTHTOKEN
              name: {{ .Values.credentialsSecret.name }}
        {{- if .Values.region }}
        - name: NGROK_REGION
          value: {{ quote .Values.region}}
        {{- end }}
        volumeMounts:
          - name: scripts
            mountPath: /scripts
            readOnly: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: scripts
  namespace: {{ .Release.Namespace }}
data:
{{ (.Files.Glob "scripts/gen-agent-config.sh").AsConfig | indent 2 }}
