{{- if or (not (empty .Values.credentials.apiKey)) (not (empty .Values.credentials.authtoken)) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ngrok-operator.credentialsSecretName" .}}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  API_KEY: {{ required "An ngrok API key is required" .Values.credentials.apiKey | b64enc }}
  AUTHTOKEN: {{ required "An ngrok Authtoken is required" .Values.credentials.authtoken | b64enc }}
{{ end }}
