apiVersion: v2
name: ngrok-operator
description: The official ngrok Kubernetes Operator.
version: 0.22.0-rc.2
appVersion: 0.20.0
keywords:
  - ngrok
  - networking
  - ingress
  - edge
  - api gateway
home: https://ngrok.com
sources:
  - https://github.com/ngrok/ngrok-operator
icon: https://charts.ngrok.com/assets/ngrok-favicon.svg
dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - bitnami-common
    version: 2.x.x
  - name: ngrok-crds
    repository: file://../ngrok-crds
    version: 0.2.0
    condition: installCRDs
    tags:
      - install-crds
