apiVersion: v2
name: ngrok-operator
description: The official ngrok Kubernetes Operator.
version: 0.16.2
appVersion: 0.13.4
keywords:
  - ngrok
  - networking
  - ingress
  - edge
  - api gateway
home: https://ngrok.com
sources:
  - https://github.com/ngrok/ngrok-operator
icon: https://charts.ngrok.com/assets/ngrok-favicon.svg
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 2.x.x
