resources:
- hello-world-ingress.yaml

patchesJson6902:
- target:
    group: networking.k8s.io
    version: v1
    kind: Ingress
    name: minimal-ingress
  path: config.yaml
- target:
    group: networking.k8s.io
    version: v1
    kind: Ingress
    name: minimal-ingress-pt2
  path: config-pt2.yaml
