---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: cloudendpoints.ngrok.k8s.ngrok.com
spec:
  group: ngrok.k8s.ngrok.com
  names:
    kind: CloudEndpoint
    listKind: CloudEndpointList
    plural: cloudendpoints
    shortNames:
    - cep
    singular: cloudendpoint
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.url
      name: URL
      type: string
    - jsonPath: .spec.trafficPolicyName
      name: Traffic Policy
      type: string
    - jsonPath: .spec.bindings
      name: Bindings
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CloudEndpoint is the Schema for the cloudendpoints API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudEndpointSpec defines the desired state of CloudEndpoint
            properties:
              bindings:
                description: |-
                  Bindings is the list of Binding IDs to associate with the endpoint
                  Accepted values are "public", "internal", or strings matching the pattern "k8s/*"
                items:
                  type: string
                type: array
              description:
                default: Created by the ngrok-operator
                description: Human-readable description of this cloud endpoint
                type: string
              metadata:
                default: '{"owned-by":"ngrok-operator"}'
                description: String of arbitrary data associated with the object in
                  the ngrok API/Dashboard
                type: string
              trafficPolicy:
                description: Allows inline definition of a TrafficPolicy object
                properties:
                  policy:
                    description: The raw json encoded policy that was applied to the
                      ngrok API
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                type: object
              trafficPolicyName:
                description: Reference to the TrafficPolicy resource to attach to
                  the Cloud Endpoint
                type: string
              url:
                description: |-
                  The unique URL for this cloud endpoint. This URL is the public address. The following formats are accepted
                  Domain - example.org
                      When using the domain format you are only defining the domain. The scheme and port will be inferred.
                  Origin - https://example.ngrok.app or https://example.ngrok.app:443 or tcp://1.tcp.ngrok.io:12345 or tls://example.ngrok.app
                      When using the origin format you are defining the protocol, domain and port. HTTP endpoints accept ports 80 or 443 with respective protocol.
                  Scheme (shorthand) - https:// or tcp:// or tls:// or http://
                      When using scheme you are defining the protocol and will receive back a randomly assigned ngrok address.
                  Empty - ``
                      When empty your endpoint will default to be https and receive back a randomly assigned ngrok address.
                  Internal - some.domain.internal
                      When ending your url with .internal, an internal endpoint will be created. nternal Endpoints cannot be accessed directly, but rather
                      can only be accessed using the forward-internal traffic policy action.
                type: string
            required:
            - url
            type: object
          status:
            description: CloudEndpointStatus defines the observed state of CloudEndpoint
            properties:
              id:
                description: ID is the unique identifier for this endpoint
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
