{{- if and .Values.bindings.enabled (not .Values.oneClickDemoMode) }}
{{- $component := "bindings-forwarder" }}
{{- $rbacChecksum := include (print $.Template.BasePath "/bindings-forwarder/rbac.yaml") . | sha256sum }}
{{- $forwarder := .Values.bindings.forwarder }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "ngrok-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ $component }}
  name: {{ include "ngrok-operator.fullname" . }}-bindings-forwarder
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/rbac: {{ $rbacChecksum }}
spec:
  replicas: {{ $forwarder.replicaCount }}
  selector:
    matchLabels:
      {{- include "ngrok-operator.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ $component }}
  template:
    metadata:
      annotations:
        {{- if .Values.podAnnotations }}
          {{- toYaml .Values.podAnnotations | nindent 8 }}
        {{- end }}
        prometheus.io/path: /metrics
        prometheus.io/port: '8080'
        prometheus.io/scrape: 'true'
        checksum/rbac: {{ $rbacChecksum }}
      labels:
        {{- include "ngrok-operator.selectorLabels" . | nindent 8 }}
        {{- if .Values.podLabels }}
          {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
        app.kubernetes.io/component: {{ $component }}
    spec:
      {{- if $forwarder.priorityClassName }}
      priorityClassName: {{ $forwarder.priorityClassName | quote }}
      {{- end }}
      {{- if $forwarder.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ $forwarder.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity: {{- include "common.tplvalues.render" (dict "value" .Values.affinity "context" $) | nindent 8 }}
      {{- else }}
      affinity:
        podAffinity: {{- include "common.affinities.pods" (dict "type" .Values.podAffinityPreset "component" $component "context" $) | nindent 10 }}
        podAntiAffinity: {{- include "common.affinities.pods" (dict "type" .Values.podAntiAffinityPreset "component" $component "context" $) | nindent 10 }}
        nodeAffinity: {{- include "common.affinities.nodes" (dict "type" .Values.nodeAffinityPreset.type "key" .Values.nodeAffinityPreset.key "values" .Values.nodeAffinityPreset.values) | nindent 10 }}
      {{- end }}
      {{- with $forwarder.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{ with $forwarder.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $forwarder.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "ngrok-operator.bindings.forwarder.serviceAccountName" . }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.image.pullSecrets | nindent 8 }}
      {{- end }}
      containers:
      - name: forwarder
        image: {{ include "ngrok-operator.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /ngrok-operator
        args:
        - bindings-forwarder-manager
        - --release-name={{ .Release.Name }}
        {{- if .Values.description }}
        - {{ printf "--description=%s" .Values.description | quote }}
        {{- end }}
        - --zap-log-level={{ .Values.log.level }}
        - --zap-stacktrace-level={{ .Values.log.stacktraceLevel }}
        - --zap-encoder={{ .Values.log.format }}
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8080
        - --manager-name={{ include "ngrok-operator.fullname" . }}-bindings-forwarder
        securityContext:
          allowPrivilegeEscalation: false
        env:
        - name: NGROK_AUTHTOKEN
          valueFrom:
            secretKeyRef:
              key: AUTHTOKEN
              name: {{ include "ngrok-operator.credentialsSecretName" . }}
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: HELM_RELEASE_NAME
          value: {{ .Release.Name | quote }}
        {{- range $key, $value := .Values.extraEnv }}
        - name: {{ $key }}
          value: {{- toYaml $value | nindent 12 }}
        {{- end }}
        {{- if .Values.extraVolumeMounts }}
        volumeMounts:
        {{- toYaml .Values.extraVolumeMounts | nindent 8 }}
        {{- end }}
        {{- if .Values.lifecycle }}
        lifecycle:
        {{- toYaml .Values.lifecycle | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
        {{- toYaml $forwarder.resources | nindent 10 }}
      {{- if .Values.extraVolumes }}
      volumes:
        {{- toYaml .Values.extraVolumes | nindent 8 }}
      {{- end }}
{{- end }}
