{{- $component := "controller" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "ngrok-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ $component }}
  name: {{ include "ngrok-operator.fullname" . }}-manager
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/controller-role: {{ include (print $.Template.BasePath "/rbac/role.yaml") . | sha256sum }}
    checksum/rbac: {{ include (print $.Template.BasePath "/controller-rbac.yaml") . | sha256sum }}
spec:
  replicas: {{.Values.replicaCount}}
  selector:
    matchLabels:
      {{- include "ngrok-operator.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ $component }}
  template:
    metadata:
      annotations:
        {{- if .Values.podAnnotations }}
          {{- toYaml .Values.podAnnotations | nindent 8 }}
        {{- end }}
        prometheus.io/path: /metrics
        prometheus.io/port: '8080'
        prometheus.io/scrape: 'true'
        checksum/controller-role: {{ include (print $.Template.BasePath "/rbac/role.yaml") . | sha256sum }}
        checksum/rbac: {{ include (print $.Template.BasePath "/controller-rbac.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/credentials-secret.yaml") . | sha256sum }}
      labels:
        {{- include "ngrok-operator.selectorLabels" . | nindent 8 }}
        {{- if .Values.podLabels }}
          {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
        app.kubernetes.io/component: {{ $component }}
    spec:
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity: {{- include "common.tplvalues.render" (dict "value" .Values.affinity "context" $) | nindent 8 }}
      {{- else }}
      affinity:
        podAffinity: {{- include "common.affinities.pods" (dict "type" .Values.podAffinityPreset "component" $component "context" $) | nindent 10 }}
        podAntiAffinity: {{- include "common.affinities.pods" (dict "type" .Values.podAntiAffinityPreset "component" $component "context" $) | nindent 10 }}
        nodeAffinity: {{- include "common.affinities.nodes" (dict "type" .Values.nodeAffinityPreset.type "key" .Values.nodeAffinityPreset.key "values" .Values.nodeAffinityPreset.values) | nindent 10 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{ with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "ngrok-operator.serviceAccountName" . }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.image.pullSecrets | nindent 8 }}
      {{- end }}
      containers:
      - name: ngrok-operator
        image: {{ include "ngrok-operator.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /ngrok-operator
        args:
        - api-manager
        - --release-name={{ .Release.Name }}
        - --default-domain-reclaim-policy={{ .Values.defaultDomainReclaimPolicy }}
        {{- include "ngrok-operator.manager.cliFeatureFlags" . | nindent 8 }}
        {{- if .Values.oneClickDemoMode }}
        - --one-click-demo-mode
        {{- end }}
        {{- if .Values.bindings.enabled }}
        - --bindings-endpoint-selectors={{ join "," .Values.bindings.endpointSelectors }}
        {{- if .Values.bindings.serviceAnnotations }}
        - --bindings-service-annotations={{- $serviceAnnotations := list -}}
          {{- range $key, $value := .Values.bindings.serviceAnnotations }}
          {{- $serviceAnnotations = append $serviceAnnotations (printf "%s=%s" $key $value) -}}
          {{- end }}
          {{- $serviceAnnotations | join "," }}
        {{- end }}
        {{- if .Values.bindings.serviceLabels }}
        - --bindings-service-labels={{- $serviceLabels := list -}}
          {{- range $key, $value := .Values.bindings.serviceLabels }}
          {{- $serviceLabels = append $serviceLabels (printf "%s=%s" $key $value) -}}
          {{- end }}
          {{- $serviceLabels | join "," }}
        {{- end }}
        - --bindings-ingress-endpoint={{ .Values.bindings.ingressEndpoint }}
        {{- end }}
        {{- if .Values.description }}
        - {{ printf "--description=%s" .Values.description | quote }}
        {{- end }}
        {{- if .Values.region }}
        - --region={{ .Values.region}}
        {{- end }}
        {{- if .Values.apiURL }}
        - --api-url={{ .Values.apiURL}}
        {{- end }}
        {{- if .Values.rootCAs }}
        - --root-cas={{ .Values.rootCAs}}
        {{- end }}
        {{- if .Values.serverAddr }}
        - --server-addr={{ .Values.serverAddr}}
        {{- end }}
        {{- /* backwards compatibility for .metaData -> .ngrokMetadata */}}
        {{- $ngrokMetadata := (.Values.metaData) | default .Values.ngrokMetadata }}
        {{- if $ngrokMetadata }}
        - --ngrokMetadata={{- $metadataArgs := list -}}
          {{- range $key, $value := $ngrokMetadata }}
          {{- $metadataArgs = append $metadataArgs (printf "%s=%s" $key $value) -}}
          {{- end }}
          {{- $metadataArgs | join "," }}
        {{- end }}
        - --ingress-controller-name={{ .Values.controllerName | default .Values.ingress.controllerName }}
        {{- if (.Values.watchNamespace | default .Values.ingress.watchNamespace) }}
        - --ingress-watch-namespace={{ .Values.watchNamespace | default .Values.ingress.watchNamespace }}
        {{- end }}
        - --zap-log-level={{ .Values.log.level }}
        - --zap-stacktrace-level={{ .Values.log.stacktraceLevel }}
        - --zap-encoder={{ .Values.log.format }}
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8080
        - --election-id={{ include "ngrok-operator.fullname" . }}-leader
        - --manager-name={{ include "ngrok-operator.fullname" . }}-manager
        {{- if .Values.clusterDomain }}
        - --cluster-domain={{ .Values.clusterDomain }}
        {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
        env:
        - name: NGROK_API_KEY
          valueFrom:
            secretKeyRef:
              key: API_KEY
              name: {{ include "ngrok-operator.credentialsSecretName" . }}
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: HELM_RELEASE_NAME
          value: {{ .Release.Name | quote }}
        {{- range $key, $value := .Values.extraEnv }}
        - name: {{ $key }}
          value: {{- toYaml $value | nindent 12 }}
        {{- end }}
        {{- if .Values.extraVolumeMounts  }}
        volumeMounts:
        {{ toYaml .Values.extraVolumeMounts | nindent 10 }}
        {{- end }}
        {{- if .Values.lifecycle }}
        lifecycle:
        {{ toYaml .Values.lifecycle | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
        {{- toYaml .Values.resources | nindent 10 }}
      {{- if .Values.extraVolumes }}
      volumes:
        {{ toYaml .Values.extraVolumes | nindent 6 }}
      {{- end }}
