name: Helm

on:
  push:
    branches:
      - main
    paths:
      - 'helm/ngrok-operator/Chart.yaml'

jobs:
  changes:
    name: Changes
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      charts: ${{ steps.filter.outputs.charts }}
    permissions:
      contents: read
      pull-requests: read
    # TODO(operator-rename): Change this to ngrok/ngrok-operator when we are ready to release the helm chart
    if: github.repository == 'ngrok/ngrok-operator'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Check for changes
        id: filter
        uses: dorny/paths-filter@v2.11.1
        with:
          filters: |
            charts:
              - 'helm/ngrok-operator/Chart.yaml'

  chart:
    name: Release Chart
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write # need to write releases
    needs: [changes]
    # TODO(operator-rename): Change this to ngrok/ngrok-operator when we are ready to release the helm chart
    if: |
      (github.repository == 'ngrok/ngrok-operator') &&
      (needs.changes.outputs.charts == 'true')
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          # Fetch entire history. Required for chart-releaser to work.
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - name: Setup Helm
        run: make _helm_setup

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CR_RELEASE_NAME_TEMPLATE: "helm-chart-{{ .Version }}" # Publishes a new release. Ex: helm-chart-0.1.0
          CR_SKIP_EXISTING: "true"
          CR_GIT_REPO: "helm-charts" # https://github.com/ngrok/helm-charts
        with:
          charts_dir: helm
